.SigupMain {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
  }
  .Sigup-group>h2{
    position: absolute;
    top: 40px;
  }
  .Sigup-group {
    width: 25%;
    height: 60vh; 
    border: 2px solid rgb(158, 156, 156);
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    position: absolute;
    animation-name: Sigupgroup;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    opacity: 0;
  }
  
  form {
    width: 80%;
    height: 50%; 
  }
  
  .Sigup1 {
    border: 2px solid lightgray;
    border-radius: 10px;
    height: 30px;
    width: 100%; 
    margin: 10px 0; 
  }
  
  .Sigup2 {
    border: 2px solid lightgray;
    border-radius: 10px;
    height: 30px;
    width: 100%; 
    margin: 10px 0; 
  }
  
  .submit {
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    width: 100%; 
    height: 30px;
    margin: 10px 0; 
    cursor: pointer;
  }
  
  .login-link {
    position: absolute;
    bottom: 7%;
    margin-top: 10px; 
    text-align: center;
  }
  
  .login-link button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    font-size: 15px;
  }
  @keyframes Sigupgroup {
    0% {opacity: 0;}
    100%{opacity: 1;}
  }