.Login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.login-group {
  width: 25%;
  height: 50%;
  border: 2px outset black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation-name: logingroup;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

form {
  width: 30%;
  height: auto;
}

.login1 {
  border: 2px solid lightgray;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  margin: 10px 0;
}

.login2 {
  border: 2px solid lightgray;
  border-radius: 10px;
  height: 30px;
  width: 100%;
  margin: 10px 0;
}

.submit {
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 30px;
  margin: 10px 0;
  cursor: pointer;
}

.signup-link {
  margin-top: 10px;
  text-align: center;
}

.signup-link button {
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 15px;
}
@keyframes logingroup {
  0% {opacity: 0;}
  100%{opacity: 1;}
}