*{
    margin: 0;
    border: 0;
}
.Main{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
.MAINVIEW{
    display: flex;
    position: absolute;
    left: 100px;
    width: calc(100% - 100px);
    height: 100%;
}
header{
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;
    row-gap: 28px;
    left: 0;
    width: 100px;
    height: 100%;
}
header > .LOGO{
    margin-top: 25px;
    text-align: center;
}
.menuHeader{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    
}
.menuHeader > img{
    display: flex;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.MenuotherDiv{
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
}
.menuBar{
    border-top: 2px solid  rgb(161, 161, 161);
    border-right: 2px solid  rgb(161, 161, 161);
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    display: flex;
    animation-name: menuBarAni;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes menuBarAni{
    0%{height: 0px;}
    100%{height: 100%;}
}

.MenuBarCT{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    height: 60px;
    font-size: 19px;
    font-weight: 700;
    animation-name: menuBarCTAni;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    &:hover {
        background-color:rgb(161, 161, 161) ;
        color: #fff;
      }
    
}
@keyframes menuBarCTAni{
    0%{height: 0px; border: none ; opacity: 0; }
    70%{ opacity: 1; }
    100%{height: 60px;}
}
.MenuNV{
    display: flex;

}
.UNDERBAR{
    display: flex;
    width: 70%;
    border-bottom: 1px solid  rgb(161, 161, 161);
}
