.todo-id{
    margin-left: 30px;
}
.todo-text{
    margin-left: 30px;
}
.todo-done{
    margin-left: 30px;
}
.APP_MOM{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.App{
    width: 250px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 100px 40%;
    text-align: center;
}